.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 610px;
	height: 610px;
	background-color: black;
}

.grid div {
	width: 200px;
	height: 200px;
	background-color: white;
	margin-bottom: 5px;
}

.playerX {
	background-image: url(https://github.com/kubowania/tic-tac-toe/blob/master/cross.png?raw=true)
}

.playerO {
	background-image: url(https://github.com/kubowania/tic-tac-toe/blob/master/circle.png?raw=true);
}