body {
    background-color: rgb(235, 121, 121);
    display: flex;
    justify-content: center;
    margin: 80px;
}

.first-circle {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    z-index: -4;
    top: 400px;
}

.second-circle {
    width:50px;
    height: 50px;
    background-color: goldenrod;
    border-radius: 50%;
    position: absolute;
    z-index: -3;
    top: 370px;
}
.third-circle {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    top: 340px;
}
.forth-circle {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 310px;
}

#final-div {
    width: 200px;
    height: 100px;
    background-color: rgb(18, 46, 97);
    border-radius: 75px;
    position: absolute;
}

   
#first-div {
    width: 150px;
    height: 75px;
    background-color: rgb(235, 121, 121);
    border-radius: 50px;
    position: relative;
}

#second-div {
    width: 10px;
    height: 5px;
    background-color: rgb(18, 46, 97);
    border-radius: 65px;
    position: absolute;
}