body {
    background-color: rgb(252, 122, 76);
}
.dropdown {
    background-color: rgb(116, 109, 163);
    position: relative;
    display: inline-block;
}

.dropdownBtn {
    background-color: rgb(81, 150, 12);
    color: #ffff;
    padding: 6px;
    border: none;
}

.content {
    display: none;
    position: absolute;
    background-color: rgb(97, 145, 235);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content p {
    color: currentColor;
    padding: 22px 32px;
    text-decoration: none;
    display: block;
}

.dropdownBtn:hover {
    background-color: darkblue;
}